@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family:
            Noto Sans,
            sans-serif;
        font-size: 20px;
        line-height: 1.5;
        color: #333;
    }
}

@layer components {
    .title {
        font-family:
            HK Grotesk,
            sans-serif;
        font-weight: 800;
    }
    .sans {
        font-family:
            Noto Sans,
            sans-serif;
    }
    .serif {
        font-family:
            Roboto Slab,
            serif;
    }
}
